{{!-- <div class="lang">
  <form action="/lang" method="POST">
    <input type="hidden" name="lang" value="pt">
    {{#if lang == 'pt_br'}}
      <input type="submit" class="active-lang" value="pt_br"></input>
    {{#else}}
      <input type="submit" class="desactive-lang" value="pt_br"></input>
    {{/if}}
  </form>
  <p>/</p>
  <form action="/" method="post">
    <input type="hidden" name="lang" value="en">
    {{#if lang == 'en_us'}}
      <input type="submit" class="active-lang" value="en_us"></input>
    {{#else}}
        <input type="submit" class="desactive-lang" value="en_us"></input>
    {{/if}}
  </form>
</div> --}}
