<div class="container">
  <div class="msg">
    <h2 class="welcome-msg">{{ texts.header.welcome_msg }}</h2>
    <div class="line-msg"></div>
  </div>
  <h1>{{ texts.header.name }}</h1>
  <p class="desc">{{ texts.header.desc }}</p>
  <a href="#three" class="button">{{ texts.header.button_smw }}</a>

  <div class="social-links">
    <p class="email">rafagoulartb@gmail.com</p>
    <a href="https://www.github.com/RafaelGoulartB" target="_blank" class="github">Github</a>
  </div>

  {{!-- {{> changeLanguage}} --}}

</div>
