<main class="error-page">
  <div class="container">
    <h1 class="error-msg">Internal Server Error - 500</h1>

    <div class="btn-back">
      <img src="img/arrow-left.png" alt>
      <a href="/">Back to the Home</a>
    </div>

  </div>
</main>
