main .container {
  padding-top: 7em;
  width: 80vw;
}
main .btn-back {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 3em;
}
main .btn-back a {
  color: #888888;
}
main .btn-back img {
  margin-right: 5px;
}
main .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
main .works a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 48%;
  margin-bottom: 1em;
  overflow: hidden;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}
main .works a:hover {
  transform: scale(1.1);
}
main .works a img {
  height: 280px;
  padding: 1%;
  width: 99%;
}

@media(min-width: 1921px) {
  main .works a {
    width: 21%;
    margin-bottom: 4em;
  }
}
@media(max-width:1100px) {
  main .container {
    width: 90vw;
  }
}
@media(max-width:800px) {
  main .title-section {
    font-size: 28px;
  }
  main .container {
    width: 90vw;
  }
  main .works {
    flex-direction: column;
  }
  main .works a {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main .works a img {
    height: 240px;
  }
  main .works a:hover {
    transform: scale(1);
  }
}
