<main>
    <section id="header" id="one">
      {{> header}}
    </section>
    <section id="services" id="two">
      {{> services}}
    </section>
  <section id="three" class="my-work">
    {{> myWorkSlider}}
  </section>

  {{> contact}}
</main>
