<main>
  <div class="container">
    <div class="btn-back">
      <img src="img/arrow-left.png" alt>
      <a href="/">{{texts.btn_back}}</a>
    </div>
    <h1 class="title-section">{{texts.title}}</h1>
    <div class="works">
      <a href="https://ecommerce-quantum.herokuapp.com/" target="_blank">
        <img src="/img/works/quantom.jpg" alt="Ecommercer Quantom, developed using Node.js, HTML, CSS">
      </a>
      <a href="https://rafaelgoulartb.github.io/AudioBookApplication/" target="_blank">
        <img src="/img/works/audiobook.png" alt="AudioBook Landing page, developed using HTML, CSS">
      </a>
      <a href="https://rafaelgoulartb.github.io/Memesan-LandingPage/" target="_blank">
        <img src="/img/works/memesum.jpg" alt="Memesum Landing page, developed using HTML, CSS">
      </a>
      <a href="https://rafaelgoulartb.github.io/Marketika-LandingPage/" target="_blank">
        <img src="/img/works/marketica.jpg" alt="Memesum Landing page, developed using HTML, CSS">
      </a>
      <a href="https://rafaelgoulartb.github.io/Site-Chess/" target="_blank">
        <img src="/img/works/chess.jpg" alt="Website that teach chess online, desveloped using HTML, CSS, JavaScript">
      </a>
      <a href="https://rafaelgoulartb.github.io/ToDo-List/" target="_blank">
        <img src="/img/works/todo-list.png" alt="To do list web , desveloped using JavaScript">
      </a>
    </div>
  </div>
</main>
